h2.color-title[id="red"]{

color: red;
}

h2.color-title[id="blue"]{

color: blue;

}

h2.color-title[id="orange"]{

color: orange;

}
h2.color-title[id="green"]{

color: green;
}

h2.color-title[id="yellow"]{

color: yellow;
}

.color-title {
font-weight: normal    
}

img{
height: 200px;
width: 200px;
}
*{
text-align: center;
}
